#detailFormKategori .row{
	margin-top: 2rem;
}

#detailFormKategori .row:first-child{
	margin-top: 0;
}

.bayangan_2dp {
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.no-padding {
	padding: 0;
}

.no-padding-left {
	padding-left: 0;
}

.no-padding-right {
	padding-right: 0;
}

.no-margin {
	margin: 0;
}

.mr-top1 {
	margin-top: 1rem;
}

.mr-top2 {
	margin-top: 2rem;
}

.mr-top3 {
	margin-top: 3rem;
}

.inner-width {
	padding-left: 5px;
	padding-right: 5px;
}

.row.inner-width {
	padding-left: 2rem;
	padding-right: 2rem;
}

.middle {
	vertical-align: middle;
}

/*Color*/
.no-color {
	background-color: transparent;
}

.white {
	background-color: rgba(255, 255, 255, .5);
	color: rgba(34, 34, 34, .5);
}

.transparent {
	background-color: transparent;
	color: rgba(27,54,100, 1);
}

.yellow {
	background-color: rgba(255, 235, 59, 1);
	color: #202020;
}

.yellow-dark {
	background-color: rgba(251, 192, 45, 1);
	color: white;
}

.yellow-light {
	background-color: ; 
	color: #202020;
}

.orange {
	background-color: rgba(254, 86, 33, 1);
	color: white;
}

.orange-dark {
	background-color: rgba(229, 73, 24, 1);
	color: white;
}

.orange-light {
	background-color: rgba(254, 203, 187, 1);
	color: #202020;
}

.green-dark {
	background-color: rgb(56,142,60);
	color: white;
}

.green {
	background-color: rgb(76,175,80);
	color: white;
}

.green-light {
	background-color: rgb(200,230,201);
	color: rgba(34, 34, 34, 1);
	border: 1px solid rgb(200,230,201);
}

.grey {
	background-color: rgba(207,216,220, 1);
	color: rgba(33, 33, 33, 1);
}

.grey-dark {
	background-color: rgba(96,125,139, 1);
	border-color: rgba(96,125,139, 1);
	color: white;
}

.grey-light {
	background-color: rgba(207,216,220, .5);
	color: rgba(33, 33, 33, 1);
}

/*rgb(238,43,49)*/
.red {
	background-color: rgb(238,43,49);
	color: white;
}

/*rgb(111,20,23)*/
.red-darken {
	background-color: rgb(111,20,23);
	color: white;
}

/*rgb(162,29,33)*/
.red-dark {
	background-color: rgb(162,29,33);
	color: white;
}

/*rgb(254,204,209)*/
.red-light {
	background-color: rgb(254,204,209);
	color: rgba(34, 34, 34, 1);
}

.blue {
	background-color: rgba(33, 150, 243, 1);
	color: white;
}

.blue-darken {
	background-color: rgb(49,73,115);
	color: white;
}

.blue-dark {
	background-color: rgba(25, 118, 210, 1);
	color: rgba(187, 222, 251, 1);
}

.blue-light {
	background-color: rgba(178,228,251, 1);
	color: rgba(34, 34, 34, 1);
	border: 1px solid rgba(178,228,251, 1);
}

.lime {
	background-color: rgba(205, 220, 57, 1);
	color: rgba(34, 34, 34, 1);
}

.lime-dark {
	background-color: rgba(175, 180, 43, 1);
	color: rgba(240, 244, 195, 1);
}

.lime-light	{
	background-color: rgba(240, 244, 195, 1);
	color: rgba(34, 34, 34, 1);
}

.transparent {
	background-color: rgba(33, 33, 33, .05);
	border: .5px solid rgba(33, 33, 33, .5);
	color: rgba(33,33,33, 1);
}

.c-blue {
	color: rgba(33, 150, 243, 1);
}

.c-grey {
	color: rgba(207,216,220, 1);
}

.c-grey-dark {
	color: rgba(96,125,139, 1);
}

.c-red {
	color: rgb(238,43,49);
}

/*Input*/
.form-control:not(.search-top):not(.search-panel) {
	border-radius: 2px;
	border: none;
	box-shadow: none;
	border: 1px solid rgba(49,73,115, 1);
	border-radius: 2px;
	font-size: 1.5rem;
	height: 37px;
}

.has-error .form-control:active:focus, .has-error .form-control:focus {
	box-shadow: none;
}

.form-control-feedback:not(.search-top):not(.search-panel) {
	height: 37px;
	line-height: 37px;
}

.form-control.effect:active:focus, .form-control.effect:focus {
    outline: 0;
	box-shadow: none;
	border-color: rgb(56,142,60);
	border-bottom-width: 3px;
}

.form-group {
	margin-bottom: 0;
}

.form-group label {
	font-weight: 600;
	color: rgba(49,73,115, 1);
}

.form-group i.material-icons {
	color: rgba(0, 0, 0, .3);
}

.form-group .help-block {
	font-weight: 500;
	font-size: 1.3rem;
	font-style: italic;
	float: right;
	margin-right: 5px;
	margin-bottom: 5px;
}

.has-error .form-control:not(.search-top):not(.search-panel) {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

.search-panel.glyphicon-ok:before {
	content: none;
}

label span {
	color: red;
}

.divider {
	border-bottom: 1px solid rgba(0,0,0,.075);
	/*margin: 3rem 0;*/
	margin-bottom: 1rem;
}

.divider p {
	font-family: 'Roboto';
	font-size: 1.8rem;
	color: rgba(0, 0, 0, .3);
	font-weight: 500;
	margin-bottom: 5px;
}

.popover {
	min-width: 200px;
	border-radius: 0;
	padding: 0;
	box-shadow: none;
	border-color: rgb(56,142,60);
	font-family: 'Roboto';
}

.popover.bottom>.arrow {
	border-bottom-color: rgb(56,142,60);
}

.popover.bottom>.arrow:after {
	border-bottom-color: rgb(235,244,236);
}

.popover.right>.arrow {
	border-right-color: rgb(56,142,60);
}

.popover.right>.arrow:after {
    border-right-color: rgb(235,244,236);
}

.popover-title {
	background-color: rgb(56,142,60);
	border-radius: 0;
	color: white;

}

.popover-content {
	background-color: rgb(235,244,236);
	border-radius: 0;
	color: rgb(56,142,60);
	text-align: left;
}

.popover-title:after {
	font-family: FontAwesome;
	content: "\f05a";
	padding-left: 1rem;
	vertical-align: middle;
}

.material-icons.forward {
	color: rgba(0, 0, 0, .4);
}

/*Button*/
.circle {
	border-radius: 50%;
}

button.disabled {
	background-color: rgba(33, 33, 33, .1);
}

button i.fa {
	padding-right: 1rem;
	margin-right: 1rem;
	border-right: 1px solid rgba(255, 255, 255, .7);
}
.btn-dark {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px solid transparent;
    border-radius: 4px;
}

.btn, .btn-dark {
	opacity: .9;
	font-weight: 700;
}

.btn-small {
	padding: 3px;
	line-height: 1;
	font-weight: 400;
}

.btn-cut {
	display: inline-block;
    padding: 6px 12px;
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border: 1px dashed;
    border-radius: 4px;
}

.btn-dark i.material-icons {
	color: white;
}

.btn-full {
	width: 100%;
}

.btn-half {
	width: 49%;
}

.btn.focus, .btn:focus, .btn:hover {
	opacity: 1;
}

.btn-dark.focus, .btn-dark:focus, .btn-dark:hover {
	opacity: 1;
	color: white;
}

.btn:active:focus, .btn:focus, .btn-dark:active:focus, .btn-dark:focus {
	outline: none;	
}

/*Navbar*/
.navbar {
	background-color: rgba(111,20,23,.8);
	border: none;
}

.navbar-default .navbar-nav>li>a.no-padding {
	color: rgba(255, 255, 255, 1);
	padding: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.navbar-default .navbar-nav>li>a:hover {
	color: rgba(255, 255, 255, .8);
}

.navbar-brand {
	padding: 10px;
}

/*Heading*/
.heading {
	display: block;
}

.heading_head {
	margin: 1rem 0;
	height: 7rem;
}

.heading_head a {
	line-height: 7rem;
	margin: 0 5px;
}

.heading_head a:first-child {
	margin-right: 0;
}

.heading_head a:last-child {
	margin-left: 0;
}

.head_logo {
	position: absolute;
	height: 7rem;
    opacity: 1;
    visibility: visible;
    transition-property: visibility,opacity,top;
    transition-duration: .25s;
    transition-delay: 0s,.25s,.25s;
}

/*Feedback*/
select {
    -webkit-appearance: menulist;
    -moz-appearance: none;
    text-indent: 1px;
    text-overflow: '';
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.select2-container .select2-selection--single {
	height: 37px;
	border: 1px solid rgba(27,54,100, 1);
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
	height: 37px;
	top: 0;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
	height: 37px;
	line-height: 37px;
	padding-left: 3.5rem;
}

.form-control-feedback {
	left: 0;
}

.form-control-feedback-icon {
    position: absolute;
    right: 0;
	left: 0;
    z-index: 2;
    display: block;
    width: 37px;
    height: 37px;
    line-height: 37px;
    text-align: center;
    pointer-events: none;
}

.form-horizontal .has-feedback .form-control-feedback {
	right: 0;
}

.form-horizontal .has-feedback .form-control-feedback.select {
	right: 15px;
}

.glyphicon.form-control-feedback {
	left: inherit;
}

.rating-input {
	color: #faca51;
}

.rating-input.large .glyphicon {
	font-size: 3rem;
}

.rating-input.medium .glyphicon {
	font-size: 2rem;
}

.glyphicon {
	font-size: 1.5rem;
	vertical-align: middle;
}
.glyphicon-star.kosong-large {
	font-size: 2.5rem;
}

.has-feedback .form-control {
	padding-left: 3.5rem;
	padding-right: 12px;
}

/*Search*/
.search {
	width: 100%;
	padding: 1rem;
	display: inline-block;
	border-radius: 4px;
	background-color: rgb(111,20,23);
}

.search label {
	font-weight: 400;
	font-style: italic;
	color: rgba(255, 255, 255, .5);
}

.form-control.search-top {
	border-radius: 2px;
	border: none;
}

.form-control.search-top:active:focus, .form-control.search-top:focus {
	border: none;
    outline: 0;
	box-shadow: none;
}

.search-panel {
	border: none;
}

.search-panel:active:focus, .search-panel:focus {
	border: none;
    outline: 0;
	box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

/*Panel*/
.panel {
	border-radius: 0;
}

.panel.no-border {
	border: 0;
}

.panel-sewaaja {
	border: 1px solid rgba(0, 0, 0, .05);
}

.panel-sewaaja .panel-heading {
	border-radius: 0;
	font-weight: 200;
	font-size: 2rem;
	/*text-transform: uppercase;*/
}

/*Panel Dashboard*/
.panel.dashboard {
	border: 1px solid #ddd;
	border-top: none;
}

.panel.dashboard .panel-heading {
	font-family: 'Roboto';
	font-size: 1.5rem;
	font-weight: 400;
	margin: 0;
	padding-left: 0;
	padding-right: 0;
}

.panel-heading ul {
	margin: 0;
	padding: 1rem 0;
}

.panel-heading {
	border-bottom: 1px solid rgba(0, 0, 0, .05);
}

.dashboard .panel-heading {
	border-bottom: 1px solid #ddd;
}

.panel-heading ul li {
	display: inline-block;
	text-align: center;
}

.panel-heading ul li a { 
	color: rgba(27,54,100, 1);
}

.panel-heading ul li.active a {
	color: rgba(33, 150, 243, 1);
}

.panel-heading ul li a:hover {
	text-decoration: none;
	color: rgba(33, 150, 243, 1);
}
.panel-heading ul li:first-child {
	padding-left: 2rem;
}

.panel-heading ul li:not(:first-child):before {
	content: "|";
    color: #ddd;
    padding: 0 .4em 0 .2em;
}

.panel-footer .form-group {
	margin-bottom: 15px;
}

ul.dashboard li a {
	color: rgba(27,54,100, 1);
	/*border: none;*/
}

ul.dashboard li a:hover {
	background-color: transparent;
	color: rgba(33, 150, 243, 1);
	border-color: transparent;
}

ul.dashboard li.active a {
	color: rgba(33, 150, 243, 1);
}

ul.dashboard li.active a:hover {
	color: rgba(33, 150, 243, 1);
}

.panel-heading ul li.active:after {
	position: absolute;
	content: "\0020";
	width: 25px;
    height: 13px;
	background: url(../img/assets.png) no-repeat;
	background-position: -46px -334px;
	margin-top: 2rem;
	margin-left: -13px;
}

.panel.dashboard .content {
	background-color: rgba(0, 0, 0, .03);
	color: rgba(27,54,100, 1);
}

.content .heading {
	padding: 1rem 2rem;
	font-size: 2rem;
	font-weight: 500;
	font-family: 'Roboto';
	color: rgba(0, 0, 0, .4);
	text-transform: capitalize;
}

.content .body {
	min-height: 350px;
	padding: 1rem 2rem;
	padding-top: 0;
}

.content .body.no-padding {
	padding: 0;
	padding-bottom: 2rem;
}

.content .body.no-padding .alert {
	margin-left: 1rem;
	margin-right: 1rem;
}

.content .body form:not(.form-button) {
	padding: 2rem;
	border: 1px dashed rgb(49,73,115);
	background-color: white;
}

.content.blank .body {
	background-color: white;
	margin-left: auto;
	margin-right: auto;
}

.blank-component {
	width: 50%;
	height: 350px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 5rem;
	text-align: center;
	color: rgba(0, 0, 0, .3);
}

.blank-component > i {
	font-size: 15rem;
}

.blank-component p {
	font-size: 2rem;
	font-weight: 600;
}

/*Quicksearch*/
.quicksearch {
	width: 100%;
}

.quicksearch .row .col-md-3 {
	margin: 2.5px 0;
}

.quicksearch button {
	height: 40px;
	width: 100%;
	padding: 0 1rem;
	border-radius: 0;
	font-weight: 700;
	font-size: 1.1rem;
	text-transform: uppercase;
}

.quicksearch a {
	border: 1px dashed white;
	text-align: center;
}

.quicksearch a:hover {
	border: 1px dashed rgb(238,43,49);
}

.quicksearch a:hover > button {
	background-color: rgb(238,43,49);
	color: white;
}

.quicksearch-list .row .col-md-3:nth-child(4n + 1) {
	padding-left: 15px;
}

.quicksearch-list .row .col-md-3:nth-child(4n) {
	padding-right: 15px;
}


/*Footer*/
footer.footer-wrapper {
	margin-top: 5rem;
	display: block;
}

footer .footer-main {
	display: block;
	padding: 3rem 0;
	background-color: rgba(0, 0, 0, .05);
	-webkit-box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.2);
	-moz-box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.2);
	box-shadow: 0px -1px 6px 0px rgba(0,0,0,0.2);
}

footer.footer-wrapper:before {
	display: block;
    left: 0;
    right: 0;
    height: 206px;
    background: url(../img/footer_banner.png) no-repeat 50% 100%;
	background-size: cover;
    content: '';
    border-bottom: 1px solid #b3b3b3;
}

footer ul h5 {
	font-weight: 600;

}

footer ul li a {
	color: rgba(0, 0, 0, .5);
}

footer ul li a:hover {
	color: #D22E2E;
	text-decoration: none;
}

/*Dropdown*/
.dropdown, .dropup {
	padding: 10px 5px;
}

.dropdown-menu {
	border-radius: 0;
	margin-top: -1px;
	margin-right: 5px;
	padding-top: 0;
	padding-bottom: 0;
}

.dropdown-menu .dropdown-header {
	padding: 10px 15px;
}

.dropdown-menu .dropdown-header .name {
	color: rgb(111,20,23);
	font-size: 1.5rem;
	font-weight: 600;
}

.dropdown-menu .divider {
	margin: 0;
}

.dropdown-menu li a {
	padding: 10px 20px;
}

.dropdown-menu li i {
	color: rgb(111,20,23);
}

.dropdown-menu li.danger a, .dropdown-menu li.danger i {
	color: rgb(238,43,49);
	font-weight: 600;
}

/*Page Info*/
.pageinfo {
	margin: 2rem 0;
	margin-top: 0;
	color: rgba(0, 0, 0, .5);
	font-family: 'Roboto';
}

.pageinfo h4 {
	margin-top: 0;
	margin-bottom: 0;
}

/*Alert*/
.alert {
	padding: 1rem;
	font-family: 'Roboto';
}

.alert-dismissable, .alert-dismissible {
	padding-right: 3.5rem;
}

.alert-failed {
	color: rgba(211,47,47, 1);
	background-color: rgba(211,47,47, .05);
	border-color: rgba(211,47,47, .5);;
}

.alert-success {
    color: rgba(56,142,60, 1);
    background-color: rgba(56,142,60, .05);
    border-color: rgba(56,142,60, .5);
}

.alert-warning {
	color: #0288D1;
    background-color: rgba(2,136,209, .05);
    border-color: rgba(2,136,209, .5);
}

.close:hover {
	color: inherit;
	opacity: 1;
}

/*List Group*/
.list-group-item {
	border-radius: 0;
	border-left: none;
	border-right: none;
	/*padding: 2.5rem;*/
	/*padding-left: 5rem;*/
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	min-height: 150px;
	max-height: 150px;
	margin-bottom: 5px;
	transition: box-shadow 0.1s ease-out;
	opacity: .8;
}

.result-iklan .list-group-item {
	opacity: 1;
}

.list-group-item.hovered {
	opacity: 1;
	-webkit-box-shadow: 2px 3px 3px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 3px 3px -2px rgba(0,0,0,0.5);
	box-shadow: 2px 3px 3px -2px rgba(0,0,0,0.5);
	transition: box-shadow 0.1s ease-in;
}

.list-group-item:hover, .list-group-item:focus, .list-group-item:active {
	opacity: 1;
}

.list-group-item .action-btn-group {
	padding: 1.8rem 0;
	visibility: hidden;
}

.list-group-item .action-btn-group a button {
	min-width: 140px;
    max-width: 140px;
	margin-bottom: 5px;
}

.list-group-item .action-btn-group a:last-child button {
	margin-bottom: 0;
}

.list-group-item:hover .action-btn-group, .list-group-item:active .action-btn-group, .list-group-item:focus .action-btn-group {
	visibility: visible;
}

.list-group-item .content-iklan {
	padding: 1rem 0 1rem 0;
}

.list-group-item img {
	width: 100%;
	max-height: 150px;
	height: 150px;
	background-position: center;
    background-size: 100% auto;
}

.list-group-item:hover, .list-group .list-group-item:active, .list-group .list-group-item:focus {
	-webkit-box-shadow: 2px 3px 3px -2px rgba(0,0,0,0.5);
	-moz-box-shadow: 2px 3px 3px -2px rgba(0,0,0,0.5);
	box-shadow: 2px 3px 3px -2px rgba(0,0,0,0.5);
	transition: box-shadow 0.1s ease-in;
}

.result-iklan .list-group-item {
	border: 1px solid rgba(33, 33, 33, .1);
}

.loading.on {
	background: url(../img/loading.gif) no-repeat center 8rem;
	background-size: 5rem;
	background-color: rgba(255, 255, 255, .7);
	position: absolute;
	min-height: 50vh;
	top: 0;
	bottom: 0;
    left: 0;
    right: 0;
}

.result-iklan .list-group-item:hover, 
.result-iklan .list-group-item:active, 
.result-iklan .list-group-item:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid rgba(33,33,33, .3);
	/*transition: border 0.1s ease-in;*/
}

.result-iklan .iklan-promosi .list-group-item:hover, 
.result-iklan .iklan-promosi .list-group-item:active, 
.result-iklan .iklan-promosi .list-group-item:focus {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border: 1px solid rgb(219,168,40);
	/*transition: border 0.1s ease-in;*/
}

.list-group-item .checkbox {
	position: absolute;
    margin-left: -3.5rem;
}

.list-group-item:first-child {
	border-radius: 0;
}

.list-group-item:last-child {
	border-radius: 0;
}

.list-group-item-heading {
	font-family: 'Roboto';
	font-weight: 300;
	font-size: 2.5rem;
	margin-bottom: 5px;
	min-height: 80px;
	max-height: 80px;
	overflow-y: hidden;
}

.list-group-item-heading:after {
	content: "";
    text-align: right;
    position: absolute;
    bottom: 0;
    right: 0;
    width: 25%;
     background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(95%, #fff)); 
     background: -webkit-linear-gradient(left, rgba(255,255,255,0), #fff 95%); 
    background: -o-linear-gradient(left, rgba(255,255,255,0), #fff 95%);
     background: linear-gradient(to right, rgba(255,255,255,0), #fff 95%); 
    height: 1.7em !important;
}

.glyphicon-star.kosong {
	color: rgba(34, 34, 34, .2);
}

.list-group-item-text {
	border-top: 1px solid rgba(33, 33, 33, .1);
	padding-top: 1rem;
	font-size: 2rem;
	color: rgba(33, 150, 243, 1);
	font-family: 'Roboto';
	font-weight: 500;
	overflow-y: hidden;
	max-height: 45px;
	min-height: 45px;
}

.list-group-item-text .child.hidden-item:last-child {
	display: none;
}

.list-group-item:hover .list-group-item-text .child.hidden-item:last-child,
.list-group-item:active .list-group-item-text .child.hidden-item:last-child,
.list-group-item:focus .list-group-item-text .child.hidden-item:last-child {
	display: block;
	-webkit-animation-duration: .2s;
  	-webkit-animation-delay: 0s;
	animation-duration: .2s;
  	animation-delay: 0s;
}

.child {
	display: inline-block;
	font-size: 1.3rem;
	margin-right: 1rem;
}

.inline {
	display: inline-block;
}

a:hover, a:focus {
	text-decoration: none;
}

.child img {
	height: 35px;
	width: auto;
}

/*.child-5 {
	width: 50%;
}

.child-4 {
	display: inline-block;
	width: 40%;
}

.child-3 {
	display: inline-block;
	width: 30%;
}

.child-2 {
	display: inline-block;
	width: 20%;
}

.child-1 {
	display: inline-block;
	width: 10%;
}

.child-15 {
	display: inline-block;
	width: 5%;
}

.child-12 {
	display: inline-block;
	width: 2%;
}*/

.child.secondary {
	font-size: 1rem;
}

.list-group-item-text span {
	/*color: rgba(0, 0, 0, .3);*/
	font-weight: 400;
	font-size: 1.5rem;
}

.checkbox {
	line-height: 130px;
}

.checkbox label::after {
	line-height: 16px;
}

/*Modals*/
.modal-content {
	border-radius: 0;
	border: none;
	box-shadow: none;
}

.modal {
  text-align: center;
}

.modal.fadeIn {
  -webkit-animation-duration: .3s;
  -webkit-animation-delay: 0;
  -moz-animation-duration: .3s;
  -moz-animation-delay: 0;
  animation-duration: .3s;
  animation-delay: 0;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-footer {
	border: none;
	padding: 5px;
}

.modal-footer button {
	border-radius: 0;
}

/*JFiler*/
.jFiler-theme-default .jFiler-input {
	width: 100%;
}

.icon-jfi-file-image:before { content: "\f332"; }
.icon-jfi-file-o:before { content: "\f332"; }

.pagination  {
	margin: 0;
	margin-top: 2rem;
	margin-left: 2.5rem;
}

/*Show Iklan*/
.panel.iklan .panel-heading {
	font-size: 24px;
	font-weight: 500;
	color: rgba(34, 34, 34, .8);
	
}

.panel.iklan .panel-heading .child {
	font-size: 1.4rem;
	line-height: 1.6rem;
	font-weight: 400;
	/*margin-top: 1rem;*/
	color: rgba(34, 34, 34, .5);
}

.panel.iklan .panel-heading .child .material-icons {
	font-size: 1.7rem;
	line-height: 1.6rem;
}


/*Slider Iklan*/
.flexslider {
	border: none;
}

.flex-direction-nav a {
	height: 50px;
	top: 40%;
	color: white;
}

.flex-control-thumbs li {
	width: 16.6%;
}

.flex-control-thumbs img {
	opacity: .4;
}

.flex-viewport {
	border: 1px solid rgba(34, 34, 34, .3);
}

.flexslider .slides img {
	width: 70%;
	margin: auto;
}

/*Pricetag*/
.tags a {
	float: left;
	position: relative;
	width: auto;
	height: 7rem;
	padding: 0;
	background: #1f8dd6;
	color: #fff;
	text-decoration: none;	
	min-width: 115%;
	text-align: center;
	/*margin-left: -.5rem;*/
}

.tags a {
	font-size: 3rem;
	line-height: 7rem;
	font-weight: 600;
}

.tags a:before {
	content: "";
	position: absolute;
	top: 0;		
	width: 0;
	height: 0;		
	border-style: solid;		
}
	
.tags a:after {
	/*content: "";
	position: absolute;
	top: 3rem;
	width: 1rem;
	height: 1rem;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	background: #fff;
	-moz-box-shadow: -1px -1px 2px #004977;
	-webkit-box-shadow: -1px -1px 2px #004977;
	box-shadow: -1px -1px 2px #004977;*/
}	
	
.tags a:hover {
	background: #1d85ca;
}	
	
.price-tag a {		
	-moz-border-radius-bottomright: 5rem;
	-webkit-border-bottom-right-radius: 5rem;
	border-bottom-right-radius: 5rem;
	/*-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;*/

	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}
	
.price-tag a:before {
	right: -3.55rem;
	top: -2rem;	
	border-color: transparent transparent transparent #14679E;
	border-width: 2rem 3.55rem 0 2.85rem;
}
	
.price-tag a:after {		
	left: -1.5rem;
}
	
.price-tag a:hover:before {
	border-color: transparent transparent transparent #14679E;
}

.post-tag a {		
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	-webkit-border-top-left-radius: 4px;
	border-top-left-radius: 4px;
}

.post-tag a:before {		
	right: -15px;	
	border-color: transparent transparent transparent #1f8dd6;
	border-width: 15px 0 15px 15px;
}

.post-tag a:after {		
	right: -2px;
}

.post-tag a:hover:before {
	border-color: transparent transparent transparent #1d85ca;
}

/*Panel Label Box*/
.panel.label-box {
	margin-bottom: 1rem;
}

.panel.label-box .panel-body {
	background-color: rgba(179,229,252, .1);
	padding: 1rem;
}

.panel.label-box .panel-body p {
	color: #1f8dd6;
	margin-bottom: 0;
}

.panel.label-box .panel-body p .material-icons {
	font-size: 3rem;
}

.panel.label-box .c-blue {
	color: #1f8dd6;
}

.panel.label-box .c-grey {
	color: rgba(34, 34, 34, .5);
}

/*Detail Panel*/
.panel.detail {
	margin: 1rem 0;
}

.panel.detail .table thead {
	font-weight: 600;
	font-size: 1.2rem;
	color: rgba(33, 33, 33, .5);
}

.panel.detail .table tbody .main-value {
	color: #1f8dd6;
	font-size: 1.8rem;
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
	padding: 1rem;
}

.panel.detail .table>tbody>tr>th, .panel.detail .table>tbody>tr>td {
	line-height: 3rem;
}

.panel.detail .panel-heading {
	padding: 1rem;
	line-height: 3.3rem;
	font-size: 1.8rem;
	background-color: rgba(31,141,214, .05);
	color: rgba(33,33,33, .6);
}

.detail-tab .tab-content {
	padding: 2rem;
	border-left: 1px solid #ddd;
	border-right: 1px solid #ddd;
	border-bottom: 1px solid #ddd;
}

.detail-tab .nav-tabs>li>a {
	border-radius: 0;
	margin-right: 0;
}

.detail-tab .nav-tabs>li>a {
	font-size: 2rem;
	font-weight: 600;
    color: rgba(34, 34, 34, .5);
    cursor: default;
    background-color: rgba(34, 34, 34, .1);
    border-bottom-color: transparent;

}

.detail-tab .nav-tabs>li>a:focus, .detail-tab .nav-tabs>li>a:hover {
    background-color: rgba(35, 35, 35, .05);
	cursor: pointer;
}

.detail-tab .nav-tabs>li.active>a, .detail-tab .nav-tabs>li.active>a:focus, .detail-tab .nav-tabs>li.active>a:hover {
    border: 1px solid #ddd;
	border-left: none;
}

.detail-tab .nav-tabs>li.active:first-child>a, .detail-tab .nav-tabs>li.active:first-child>a:focus, .detail-tab .nav-tabs>li.active:first-child>a:hover {
    border-left: 1px solid #ddd;
}

.detail-tab .nav-tabs>li.active>a, .detail-tab .nav-tabs>li.active>a:focus, .detail-tab .nav-tabs>li.active>a:hover {
    color: #1f8dd6;
    cursor: default;
    background-color: #fff;
    border-bottom-color: transparent;
}

.detail-tab .nav-tabs>li>a {
	border: 1px solid #ddd;
	border-left: none;
}

.detail-tab .nav-tabs>li:first-child>a {
	border-left: 1px solid #ddd;
}

.modul-fasilitas {
	font-family: 'Roboto';
	line-height: 2.5rem;
	font-size: 1.4rem;
	padding: 0 1.5rem 2.5rem 1.5rem;
	margin-bottom: 0;
}

.modul-fasilitas h3 {
	font-size: 1.7rem;
	margin: 0;
	padding-bottom: .5rem;
	margin-bottom: .5rem;
	color: rgba(34, 34, 34, .7);
	border-bottom: 1px solid rgba(34, 34, 34, .1);
}

.modul-fasilitas li {
	display: inline-block;
    width: 33%;
}

.modul-fasilitas .name {
	display: inline-block;
	width: 35%;
	text-transform: capitalize;
	color: rgba(34, 34, 34, .5);
}

.modul-fasilitas .value {
	font-size: 1.3rem;
	font-weight: 600;
}

/*Image*/
.image { 
	position: relative; 
	width: 100%; /* for IE 6 */
}

.image span {
	position: absolute; 
	top: 10px;
	text-align: center;
	border-radius: 0;
	border-top-right-radius: 6px;
	border-bottom-right-radius: 6px;
	padding: 5px 1rem;
	font-weight: 400;
}

/*Radio*/
input[type=checkbox], input[type=radio] {
	height: 2rem;
	width: 2rem;
}

.center {
	text-align: center;
}

.right {
	text-align: right;
}

.left {
	text-align: left;
}

/*Pesan*/
.pencarian-pesan {
	padding: 2rem 1rem;
	background-color: transparent;
	margin-bottom: 5px;
}

.select2-results__option[aria-selected] {
	color: rgba(33, 33, 33, 1);
}

.select2-container--default .select2-results__group {
	opacity: .5;
}

.select2-container--default .select2-results__option .select2-results__option {
	color: rgba(33, 33, 33, 1);
}

.select2-container--default .select2-results__option[aria-selected=true] {
	color: rgba(33, 150, 243, 1);
	background-color: transparent;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
	color: rgba(33, 150, 243, .5);
	background-color: transparent;
}

/*Image*/
.image img{  
    -webkit-transition: opacity .5s;
    -moz-transition: opacity .5s;
    -ms-transition: opacity .5s;
    transition: opacity .5s;
}

.image.loaded img{
    opacity: 1;
	background: url('');
}

.image img {
	background: url(../img/loading.gif) no-repeat center;
	background-size: 20%;
}

/*Well Pesan*/

.well {
	padding: 1rem;
}

.isi_pesan .content_pesan .dilihat {
	visibility: hidden;
} 

.isi_pesan .content_pesan:hover .dilihat {
	visibility: visible;
} 

.plupload_logo {
    width: 40px;
    height: 40px;
    background: url(../img/favicon.png) no-repeat 0;
    position: absolute;
    top: 8px;
    left: 8px;
	background-size: cover;
}

